
{% if page.class == 'home' %}

<div style="background-image: url(/img/bg/banner-home.jpg);" class="banner home align-center">
  <div class="container banner__content">
    <div class="v-align-inner">

      <a class="brand" href="/"><img src="/img/logo/logo.png" /></a>
      <p class="lead">{{ site.description }}</p>

    </div>
  </div>
</div>

{% else %}

<div style="background-image: url(/img/posts/{{ page.class }}/banner.jpg);" class="banner fs align-center dark">

  <a class="banner__logo" href="/">
    <img src="/img/logo/logo-alt.png" alt="{{ site.title }}">
  </a>

  <div class="container banner__content">
    <div class="v-align-inner">

      <h1>{{ page.title }}</h1>

      {% if page.subtitle %}
        <p class="lead">{{ page.subtitle }}</p>
      {% endif %}

    </div>
  </div>
  <div class="overlay"></div>

</div>


<div class="container dark post-meta" style="background-image: url(/img/bg/postmeta-{{ page.country | slugify }}.jpg);">
	<div class="row post-meta__inner">
		<div class="col-md-12">
			<h5 class="title">
        {% if page.city %}{{ page.city }}, {% endif %}{{ page.country }}<br>
        {{ page.date|date:"%b %d, %Y"}}
      </h5>
		</div>
	</div>
</div>

{% endif %}
