
{% assign rows = page.galleries[include.gallery] %}

<div class="row gallery">
  {% for row in rows %}
    <div class="mosaic">
      {% for img in row %}
        <img src="/img/posts/{{ page.class }}/{{ img.url }}" alt="{{ img.alt }}"/>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<script>
$('.mosaic').Mosaic({
  maxRowHeight: 480,
  refitOnResize: true,
  refitOnResizeDelay: false,
  defaultAspectRatio: 0.5,
  maxRowHeightPolicy: 'crop',
  highResImagesWidthThreshold: 850,
  outerMargin: 15,
  innerGap: 30
});
</script>
