// all custom styles for the site
@import
  'core',
  'typography',
  'navigation'
;


body {}

.content {
  padding: 40px 15px;
}

.container {
  position: relative;
  z-index: 1;
}

.v-align { display: table; height: 100%; }
.v-align-inner { display: table-cell; height: 100%; float: none; vertical-align: middle; }

/* ==============================================================
 *		Quick Styles
 ================================================================ */


/* HORIZONTAL RULE */
hr { border-top: 2px solid rgba(145,164,181,0.25); height: 0; width:100%; margin: 20px 0; display: inline-block; clear: both; }
.dark hr { border-top: 2px solid rgba(255,255,255,0.25); }
.center hr { width: 80px; margin-left: auto; margin-right: auto; }

hr.left { width: 60px; }
hr.thin { border-width: 1px; margin: 0; }


/* TYPE STYLING */
.np {padding:0 !important;}
.nm {margin:0 !important;}
.floatR, .fr { float:right; }
.floatL, .fl { float:left; }
.mcenter { margin-left: auto;margin-right: auto; float: none; }
.center { text-align: center; }
.caps { text-transform: uppercase; }

.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }



.overlay { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 0; }

/* ==============================================================
 *		Banner
 ================================================================ */

.banner {
	padding: 60px 0 120px; position: relative; background-color: #271238;
	background-size: cover; background-position: center; background-repeat: no-repeat;
  &__content {
    height: 100%; display: table; padding: 30px; z-index: 10; position: relative;
  }

  &__logo {
    position: fixed;
    z-index: 100;
    top: 30px;
    left: 30px;
    height: 70px;
    img {
      height: 100%;
      position: relative;
      display: block;
    }
  }


  .brand { margin-top: 20px; margin-bottom: 40px; display: block; }
  .brand img { width: 100%; }

  @media (min-width: 768px){
  	.brand img { width: 300px; }
  }

  .overlay { background-color: #000; opacity: 0.25; filter: alpha(opacity="25"); }

  &.home { padding: 60px 0; }
}



/* ==============================================================
 *		Box Styles
 ================================================================ */

.box-content,
.box-content .title,
.box.work .overlay {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; }



.box {
  width: 100%; height: 200px;
	padding: 0;
  margin-bottom: 30px;
  background-color: #fff;
  display: table;
	background-size: cover; background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0 1px rgba(145,164,181,0.25); }

.box.height2 { height: 400px }

	.box .box-inner { padding: 5px 30px; display: table-cell; vertical-align: middle; }


	.box .box-content {
		position: absolute; z-index: 1; bottom: 30px; left: 30px; right: 30px; padding: 0 15px; height: 0; overflow: hidden;
		background-color: #fff; color: #1F292D; display: table-cell; vertical-align: middle; box-shadow: 0 0 0 0 rgba(0,0,0,0.1); }

		.box .box-content h4, .box .box-content h5, .box .box-content h6, .box .box-content p, .box .box-content a { color: #1F292D; }
		.box .box-content a:hover { color: #000; }
		.box:hover .box-content { height: 64px; bottom: -2px; padding: 15px 15px;  box-shadow: 0 0 0 1px rgba(0,0,0,0.1); }
		.box .box-content .title { margin-top: -45px; margin-bottom: 0; }
		.box:hover .box-content .title { margin-top: 10px; }


/* ==============================================================
 *		Post Meta
 ================================================================ */

.post-meta {
  background-position: center;
  padding: 8px;
  height: 120px;
  margin-top: -60px;
  border: 1px solid rgba(255,255,255,0.2);
  text-align: center; display: table;
  &__inner {
    background-color: #0f1010;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}



.gallery {

  &__item {
    &.wide { display: block !important; }
  }
}