/** ----------------------------------------------------------
 *
 *		Black	: #0e0e0e
 *		Pink	: #b52b86
 *		Blue	: #1b9dd8
 *		Green 	: #18ae81
 *
 * ------------------------------------------------------- */



@font-face {
    font-family: 'Maisonneue Bold';
    src: url('../fonts/maisonneue/maisonneue_bold.eot');
    src: url('../fonts/maisonneue/maisonneue_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maisonneue/maisonneue_bold.woff') format('woff'),
         url('../fonts/maisonneue/maisonneue_bold.ttf') format('truetype'),
         url('../fonts/maisonneue/maisonneue_bold.svg') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Maisonneue Book';
    src: url('../fonts/maisonneue/maisonneue_book.eot');
    src: url('../fonts/maisonneue/maisonneue_book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maisonneue/maisonneue_book.woff') format('woff'),
         url('../fonts/maisonneue/maisonneue_book.ttf') format('truetype'),
         url('../fonts/maisonneue/maisonneue_book.svg') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Maisonneue Mono';
    src: url('../fonts/maisonneue/maisonneue_mono.eot');
    src: url('../fonts/maisonneue/maisonneue_mono.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maisonneue/maisonneue_mono.woff') format('woff'),
         url('../fonts/maisonneue/maisonneue_mono.ttf') format('truetype'),
         url('../fonts/maisonneue/maisonneue_mono.svg') format('svg');
    font-weight: normal;
    font-style: normal; }



@font-face {
    font-family: 'Sentinel Black';
    src: url('../fonts/sentinel/Sentinel-Black.otf');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Sentinel Black Italic';
    src: url('../fonts/sentinel/Sentinel-BlackItalic.otf');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Sentinel Semibold';
    src: url('../fonts/sentinel/Sentinel-Semibold.otf');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Sentinel Semibold Italic';
    src: url('../fonts/sentinel/Sentinel-SemiboldItalic.otf');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Sentinel Book';
    src: url('../fonts/sentinel/Sentinel-Book.otf');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Sentinel Book Italic';
    src: url('../fonts/sentinel/Sentinel-BookItalic.otf');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Sentinel Light';
    src: url('../fonts/sentinel/Sentinel-Light.otf');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Sentinel Light Italic';
    src: url('../fonts/sentinel/Sentinel-LightItalic.otf');
    font-weight: normal;
    font-style: normal; }





body {
    font-family: "Maisonneue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #566471;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; }

body a { text-decoration: none; }
body a:link { -webkit-tap-highlight-color: #3EBAEB }

::selection { background-color: #000; color: #fff; text-shadow: none; }

@media (min-width: 768px){
	body { font-size: 16px; }
}
@media (min-width: 992px){}
@media (min-width: 1200px){}



/* ==============================================================
 *		Font Styles
 ================================================================ */

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  + * { margin-top: 15px; }
}


h1,.h1 { font-family: "Sentinel Semibold", Georgia,Times,"Times New Roman",serif; }
h2,.h2 { font-family: "Sentinel Semibold", Georgia,Times,"Times New Roman",serif; }
h3,.h3 { font-family: "Sentinel Semibold", Georgia,Times,"Times New Roman",serif; }
h4,.h4, h5,.h5, h6,.h6 { font-family: "Sentinel Semibold", Georgia,Times,"Times New Roman",serif; }

h1,.h1 { font-size: 4.4em; }
h2,.h2 { font-size: 2.2em; padding-bottom: 10px; border-bottom: 1px solid $black-15; }
h3,.h3 { font-size: 1.8em; line-height: 1; }
h4,.h4 { font-size: 1.4em; line-height: 1.3; }
h5,.h5 { font-size: 1.2em; line-height: 1.3; letter-spacing: 0.05em; }
h6,.h6 { line-height: 1.6; }


p, .p { max-width: 720px; }
.align-center p { margin-left: auto; margin-right: auto; }
.lead {
	font-family: "Sentinel Book", Georgia,Times,"Times New Roman",serif; font-weight: normal;
	font-size: 1.6em; line-height: 1.4; }


small, .small { font-size: 12px; }
em { font-style: italic; }
strong { font-family: "Maisonneue Bold"; font-weight: normal; }
.meta { font-family: "Maisonneue Mono"; }

a { text-decoration: none; color: #717171; }
  a:hover,a:focus { text-decoration: none; color: #363A35; }


/* ==============================================================
 *		Images
 ================================================================ */


img {
    height: auto;
}
img.inline { margin-right: 10px; margin-top: -2px; }
img.left {
    float: left;
    max-width: 50%;
    margin: 5px 20px 10px 0;
}
img.right {
    float: right;
    max-width: 50%;
    margin: 5px 0 10px 20px;
}
img.leftAlone {
    float: left;
    margin-right: 100%;
    margin-bottom: 10px;
    clear: both;
}
img.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    clear: both;
}

/* ==============================================================
 *		Lists
 ================================================================ */


ul { padding: 0 1em; }
ul li { margin-bottom: 5px; }


ul.lined { list-style: none; margin: 15px 0; padding: 0; }

	ul.lined li { padding: 8px 0; margin: 0; border-top: 1px solid rgba(0,0,0,0.2); }
	ul.lined li:last-child { border-bottom: 1px solid rgba(0,0,0,0.2); }

	.dark ul.lined li { border-color: rgba(255,255,255,0.1); }



/* ==============================================================
 *		Tables
 ================================================================ */



/* ==============================================================
 *		Blockquotes
 ================================================================ */



/* ==============================================================
 *		Buttons
 ================================================================ */


/*-------- .button --------*/

button, input[type=button], input[type=submit], .button {
	padding: 10px 20px 8px; margin: 10px 10px 10px 0; float: left; position: relative; line-height: 1;
	background-color: transparent; border: 2px solid #0e0e0e; font-size: 0.9em; font-weight: normal; color: #0e0e0e; border-radius: 50px;
	font-family: "Maisonneue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform: uppercase;
	 -webkit-transition: all 180ms; -moz-transition: all 180ms; -o-transition: all 180ms; transition: all 180ms; }
	button:hover, input[type=button]:hover, input[type=submit]:hover, .button:hover { background-color: #0e0e0e; color: #fff; }


.dark button, .dark input[type=button], .dark input[type=submit], .dark .button {
	color: #fff; border-color: rgba(255,255,255,0.2); }
	.dark button:hover, .dark input[type=button]:hover, .dark input[type=submit]:hover, .dark .button:hover { border-color: #fff; }



.center .button { display: inline-block; float: none; }


@media (min-width: 768px){}
@media (min-width: 992px){
	button, input[type=button], input[type=submit], .button, .button { font-size: 1em; }
}
@media (min-width: 1200px){}


.button-sm { display: inline-block; padding: 4px 10px 0px; border: 2px solid rgba(0,0,0,0.2); border-radius: 5px; }
.dark .button-sm { border: 2px solid rgba(255,255,255,0.1); }


/* ==============================================================
 *		Quick Styles
 ================================================================ */


.textbar { opacity: 0.2; filter: alpha(opacity="20"); margin: auto 10px; font-family: "Maisonneue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;  }


.dark { color: #fff; }
.dark p,.dark .p { color: #fff; }
.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6 { color: #fff; }
.dark a { color: #e2e7e3; }
.dark a:hover { color: #fff; }


