---
layout: post
title: The White Temple
subtitle: Wat Rong Khun, Chiang Mai

class: the-white-temple
category: Travel
country: Thailand
city: Chiang Rai


galleries:
  1:
    -
      - { url: '1.jpg', alt: '', width: '133', height: '75' }
      - { url: '2.jpg', alt: '', width: '133', height: '75' }
    -
      - { url: '3.jpg', alt: '', width: '133', height: '75' }
      - { url: '4.jpg', alt: '', width: '133', height: '75' }
  2:
    -
      - { url: '5.jpg', alt: '', class: 'wide' }
    -
      - { url: '6.jpg', alt: '', width: '133', height: '75' }
      - { url: '7.jpg', alt: '', width: '133', height: '75' }
    -
      - { url: '8.jpg', alt: '', width: '133', height: '75' }
      - { url: '9.jpg', alt: '', width: '133', height: '75' }
    -
      - { url: '10.jpg', alt: '', width: '133', height: '75' }
      - { url: '11.jpg', alt: '', width: '133', height: '75' }
    -
      - { url: '12.jpg', alt: '', class: 'wide' }
    -
      - { url: '13.jpg', alt: '', width: '133', height: '75' }
      - { url: '14.jpg', alt: '', width: '133', height: '75' }
    -
      - { url: '13.jpg', alt: '', width: '133', height: '75' }
      - { url: '14.jpg', alt: '', width: '133', height: '75' }
  3:
    -
      - { url: '15.jpg', alt: '', width: '133', height: '75' }
      - { url: '16.jpg', alt: '', width: '133', height: '75' }

---


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>The famous temple, Wat Rong Khun of Chiang Mai, better known simply as the White Temple is a sight to behold. After an over abundance of gold and red temples in Bangkok and Chiang Mai, the pristine white and mirror mosaic temple is a welcome change!</p>
    <p>The temple was, and still is, being financed by one of Thailand's richest businessmen. It's said that he's spent upwards of 60 million NZD so far (1.5 billion Baht if you're wondering!).</p>
  </div>
</div>

{% include gallery.html  gallery=1 %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>The idea behind the ornate sculptures and designs of the temple is that in order to reach enlightenment - and heaven (or nirvana if you're of the Buddhist persuasion) - you need to strip yourself of our materialistic and commercial obsessions.</p>
    
    <h2>The journey begins in hell.</h2>

    <p>You start on the other side of the moat, with hands, faces and creatures coming out of the sides of the bridge trying to trap and distract you. Walking past this is representative of you realising they are just holding you back, and by leaving them behind you move to a higher place.</p>
    <p>The journey then continues over the bridge which slowly leads you to the doors of the main temple. All is white and pure, with Buddha images, and sculptures of buddhist gods and beings. You are now on the doorstep of Heaven.</p>
    <p>The main hall of the temple itself is highly protected, you aren't allowed to take photos inside so as to retain some mystery as to what's on the other side.</p>

  </div>
</div>

{% include gallery.html  gallery=2 %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>Our time at the white temple ends with a visit to the rightfully labelled "most beautiful toilet in Thailand". Surrounded by pristine white, and silver mirrored buildings and sculptures, the toilet block stands out like the grand palace in gold standing on the edge of the complex.</p>
    <p>Unfortunately I'd already paid a visit to the significantly lower class toilets at the food hall over the road... but I couldn't say no to a little peek before hitting the road once more!</p>
  </div>
</div>

{% include gallery.html  gallery=3 %}
