---
layout: post
title: Budapest
subtitle:

class: budapest
category: Travel
country: Hungary
city: Budapest


galleries:
  1:
    -
      - { url: 'parliament1.jpg', alt: '' }
    -
      - { url: 'parliament2.jpg', alt: '' }
      - { url: 'parliament3.jpg', alt: '' }
      - { url: 'parliament4.jpg', alt: '' }
  2:
    -
      - { url: 'shoes1.jpg', alt: '' }
      - { url: 'shoes2.jpg', alt: '' }
      - { url: 'shoes3.jpg', alt: '' }

---

<div class="post__content">

  <p>Our festive trip to Budapest truly started with a bang with an Amazing Race-esque panicked race to the plane at Gatwick airport. After a relaxed breakfast and coffees and Wetherspoons we made out way to security, where I thought I'd better double check out tickets... what's this, North Terminal?! A train ride away?!? Christ. </p>
  <p>Long story short, panting, sweating and cursing we arrived at the gate just in time at end of the line, and boarded our illusive Easyjet plane. </p>
  <p>And so the Budapest adventure begins!</p>

  <hr>

  <p>The first true day in Budapest began with a very frosty start! The forecast was showing a high of 1 degree, which frankly was feeling very optimistic when we finally built up the courage to step outside. </p>
  <p>But we battled on... A short walk took us around to the famous parliament buildings. From all angles the Gothic (or more accurately Gothic Revival) architecture was incredible, showing characteristics of being highly detailed, harsh lines directing the eyes to the sky and incredible symmetry. When you're up close it's very hard to tell what part of the building you're actually looking at, especially because it's so much larger than it looks in the pictures. </p>

</div>


{% include gallery.html  gallery=1 %}


<div class="post__content">
  <p>A short walk from here on the banks of the Danube River is an art installation of bronze shoes. This is a powerful tribute to Hungarian Jews from WWII who were ordered to remove their valuable shoes, before being executed by the fascist Arrow Cross Militiamen at the edge of the river. </p>
</div>


{% include gallery.html  gallery=2 %}
