---
layout: post
title: Is that a lady... or a ladyboy?!
subtitle:

class: ladyboy
category: Travel
country: Thailand
city: Chiang Mai


galleries:
  1:
    -
      - { url: '1.jpg', alt: '' }
      - { url: '2.jpg', alt: '' }
    -
      - { url: '3.jpg', alt: '' }
      - { url: '4.jpg', alt: '' }
  2:
    -
      - { url: '5.jpg', alt: '' }
    -
      - { url: '6.jpg', alt: '' }
      - { url: '7.jpg', alt: '' }
    -
      - { url: '8.jpg', alt: '' }
      - { url: '9.jpg', alt: '' }
    -
      - { url: '10.jpg', alt: '' }
      - { url: '11.jpg', alt: '' }
    -
      - { url: '12.jpg', alt: '' }
---


{% include gallery.html  gallery=1 %}


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>The music is blasting, the lights are pulsing, the crowd is pumping... Let the cabaret begin!</h3>
  </div>
</div>


{% include gallery.html  gallery=2 %}
